@import '../../styles/variables.scss';

.wrapper {
    padding-bottom: 58px;
    background: #FFBD9E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;

    @include breakpoint(700) {
        padding: 30px;
    }

    @include breakpoint(900) {
        margin: 0 80px;
    }
    
    @include breakpoint(1024) {
        flex-direction: row;
        justify-content: space-between;
    }
    @include breakpoint(1200) {
        margin: 0 160px;
        padding: 104px;
    }
}