@import '../../styles/variables.scss';

.heroSection {
    width: 100%;
    background-color: #F7F3F4;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    padding: 70px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include breakpoint(900) {
        padding: 128px 160px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }

}