.wrapper {
    background-color: #FFBD9E;
    width: 100%;
    height: 491px;
    padding: 72px 0;
}

.sliderActions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sliderArrows {
    padding: 25px;
    border: none;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;

    &:hover svg fill {
        color: white;
    }
}

.sliderDisplay {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;

    span {
        opacity: .2;
    }
}