@mixin flexWithGap($gap) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
}
  

@mixin breakpoint($point) {
    @if $point == 600 {
        @media(min-width: 600px) {
            @content;
        }
    }
    @if $point == 700 {
        @media(min-width: 700px) {
            @content;
        }
    }
    @if $point == 900 {
        @media(min-width: 900px) {
            @content;
        }
    }
    @if $point == 1024 {
        @media(min-width: 1024px) {
            @content;
        }
    }
    @if $point == 1200 {
        @media(min-width: 1200px) {
            @content;
        }
    }
}