@import '../../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 48px;
    padding: 100px 0 132px;

    @include breakpoint(700) {
        margin: 0 18px;
    }

    @include breakpoint(900) {
        margin: 0 80px;
    }

    @include breakpoint(1024) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 14.4%;
    }
    @include breakpoint(1200) {
        margin: 0 160px;
    }
}